---
layout: default
title: Blog
---
<div class="home">
    <ul class="post-list h-feed">
    {% for post in site.posts %}
        <li class="post-list-item h-entry">
            <h2 class="post-title">
                <span class="post-meta">
                    <span class="dt-published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</span>
                </span>
                <a class="post-link p-name u-url" href="{% if post.external_link %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
                {% if post.external_link %}<span class="post-link-external-label">(link)</span>{% endif %}
            </h2>
            {% if post.summary %}
            <p class="post-summary">{{ post.summary }}</p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>