<footer class="site-footer">
  <div class="wrapper">
    <p class="bio">
      Hey &mdash; I'm Elliot Dickison, a web developer currently working at Amazon.com in Seattle. I love to ski and spend time outdoors with my awesome wife and daughter.
    </p>
    <ul class="contact-links">
      {% if site.twitter_username %}
      <li>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="username">@{{ site.twitter_username }}</span>
        </a>
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
        Fork <a href="https://github.com/{{ site.github_username }}">
          <span class="username">github.com/{{ site.github_username }}</span>
        </a>
      </li>
      {% endif %}
      <li class="rss-subscribe">
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">elliotdickison.com</a>
      </li>
    </ul>
  </div>
</footer>
