<footer class="site-footer">
    <div class="wrapper wrapper--separator">
        <p class="bio vcard">
            Hey &mdash; I'm <span class="fn">Elliot Dickison</span>, a <span class="category">web developer</span> currently working at <span class="org">Amazon.com</span> in <span class="adr"><span class="locality">Seattle</span></span>. I love Jesus, skiing, the web, and spending time outdoors with my awesome wife and daughter.
        </p>
        <ul class="contact-links">
        {% if site.twitter_username %}
            <li>
                Follow <a href="https://twitter.com/{{ site.twitter_username }}" rel="me"><span class="username">@{{ site.twitter_username }}</span></a>
            </li>
        {% endif %}
        {% if site.github_username %}
            <li>
                Fork <a href="https://github.com/{{ site.github_username }}" rel="me"><span class="username">github.com/{{ site.github_username }}</span></a>
            </li>
        {% endif %}
            <li class="rss-subscribe">
                Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="me">elliotdickison.com</a>
            </li>
        </ul>
    </div>
</footer>