<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <script async src="//use.typekit.net/cbu6koo.js" onload="Typekit.load();"></script>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="me" href="https://google.com/+{{ site.google_plus_username }}" />
    <link rel="me" href="https://facebook.com/{{ site.facebook_username }}" />
    <link rel="me" href="https://app.net/{{ site.app_net_username }}" />
    <link rel="me" href="mailto:{{ site.email }}" />

    <link rel="pingback" href="https://webmention.io/elliotdickison.com/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/elliotdickison.com/webmention" />
</head>
