/**
 * Simple reset
 */

* {
    @include prefix(box-sizing, border-box);
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */

html {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;

    @include prefix(font-feature-settings, "'liga' 1, 'kern'");

    @include media-query($on-mobile) {
        font-size: $font-size-mobile;
    }
}

body {
    background-color: $background-color;
    color: $text-color;
    overflow-y: scroll;
}

/**
 * Vertical rhythm
 */

body * + * {
    margin-top: $spacing-unit;
}

li + li,
pre * + * {
    margin-top: 0;
}

/**
 * Images
 */

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    margin-top: $spacing-unit / 4;
    text-align: right;
}

/**
 * Lists
 */

ul, ol {
    margin-left: $spacing-unit;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

/**
 * Links
 */

a {
    color: $theme-color;
    text-decoration: none;
}

a:hover,
a:active {
    /* Underline 3px up from the bottom of the em box */
    box-shadow: inset 0 -3px 0 0 $background-color, inset 0 calc(-4px) 0 0 $theme-color;
    
    /* Clear descenders */
    text-shadow: 
        $background-color 3px -1px, $background-color -3px -1px,
        $background-color 2px -1px, $background-color -2px -1px,
        $background-color 1px -1px, $background-color -1px -1px,
        $background-color 3px 0, $background-color -3px 0,
        $background-color 2px 0, $background-color -2px 0,
        $background-color 1px 0, $background-color -1px 0,
        $background-color 3px 1px, $background-color -3px 1px,
        $background-color 2px 1px, $background-color -2px 1px,
        $background-color 1px 1px, $background-color -1px 1px,
        $background-color 0 -1px, $background-color 0 1px;
}

h1, h2, h3, h4, h5, h6 {
    a:hover,
    a:active {
        /* Underline 6px up from the bottom of the em box */
        box-shadow: inset 0 -6px 0 0 $background-color, inset 0 calc(-7px) 0 0 $theme-color;
    }
}

/**
 * Blockquotes
 */

blockquote {
    border-left: 4px solid $theme-color;
    color: $text-color-secondary;
    font-size: 1.2em;
    font-style: italic;
    padding-left: $spacing-unit / 2;
}

/**
 * Code
 */

pre,
code {
    border-radius: 3px;
    font-family: $font-family-code;
    font-size: $font-size-code;
    vertical-align: middle;
}

p code {
    background-color: $background-color-dark;
    padding: 3px 5px;
}

pre {
    background-color: $background-color-code;
    color: #fff;
    overflow-x: auto;
    padding: 8px 12px;

    > code {
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Text selection highlight
 */

/* WebKit/Blink Browsers */

::selection {
  background: $theme-color;
  color: $background-color;
}

a::selection {
    color: $background-color;
    text-shadow: none !important;
}

/* Gecko Browsers */

::-moz-selection {
  background: $theme-color;
  color: $background-color;
}

a::-moz-selection {
    color: $background-color;
    text-shadow: none !important;
}
