/**
 * Simple reset
 */

* {
    @include prefix(box-sizing, border-box);
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */

html {
    @include prefix(font-feature-settings, "'liga' 1, 'kern'");
    @include prefix(text-size-adjust, none);
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    @include media-query($on-mobile) {
        font-size: $font-size-small;
    }
}

body {
    overflow-y: scroll;
}

/**
 * Vertical rhythm
 */

body * + * {
    margin-top: $spacing-unit;
}

li + li,
pre * + * {
    margin-top: 0;
}

h2 + figure {
    margin-top: $spacing-unit-small;
}

/**
 * Images
 */

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

figure {

    img {
        border-radius: 3px;
        width: 100%;
    }

    figcaption {
        margin-top: $spacing-unit-small;
        text-align: right;
    }
}

/**
 * Lists
 */

ul, ol {
    list-style: none;
    margin: 0;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

/**
 * Links
 */

a {
    color: $theme-color;
    text-decoration: none;

    &:hover,
    &:active {
        @include text-underline(0, $background-color);
        @include text-clear-descendors($background-color);
    }

    .wf-active & {
        &:hover,
        &:active {
            @include text-underline(-3px, $background-color);
        }
    }
}

/**
 * Blockquotes
 */

blockquote {
    color: $text-color-secondary;
    font-style: italic;
    margin-left: $spacing-unit-large;
    margin-right: $spacing-unit-large;

    cite {
        color: $text-color;
        display: block;
        margin-top: $spacing-unit;
        text-align: right;

        &:before {
            content: '– ';
        }
    }
}

/**
 * Code
 */

pre,
code {
    font-family: $font-family-code;
    font-size: $font-size-code;
    vertical-align: middle;
}

p code {
    background-color: $background-color-alternate;
    border-radius: 3px;
    padding: 3px 5px;
}

pre {
    background-color: $background-color-code;
    border-radius: 3px;
    color: #fff;
    overflow-x: auto;
    padding: 8px 12px;


    > code {
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Text selection highlight
 */

/* WebKit/Blink Browsers */

::selection {
  background: $theme-color;
  color: $background-color;
}

a::selection {
    color: $background-color;
    text-shadow: none !important;
}

/* Gecko Browsers */

::-moz-selection {
  background: $theme-color;
  color: $background-color;
}

a::-moz-selection {
    color: $background-color;
    text-shadow: none !important;
}
