/**
 * Simple reset
 */

* {
    @include prefix(box-sizing, border-box);
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */

html {
    @include prefix(font-feature-settings, "'liga' 1, 'kern'");
    @include prefix(text-size-adjust, none);
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    @include media-query($on-mobile) {
        font-size: $font-size-small;
    }
}

body {
    background-color: $background-color;
    color: $text-color;
    overflow-y: scroll;
}

/**
 * Vertical rhythm
 */

body * + * {
    margin-top: $spacing-unit;
}

li + li,
pre * + * {
    margin-top: 0;
}

h2 + figure {
    margin-top: $spacing-unit / 2;
}

/**
 * Images
 */

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin-left: $spacing-unit * -2;
    margin-right: $spacing-unit * -2;

    img {
        width: 100%;
    }

    figcaption {
        margin: ($spacing-unit / 4) ($spacing-unit * 2) 0;
        text-align: right;
    }
}

/**
 * Lists
 */

ul, ol {
    margin-left: $spacing-unit;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

/**
 * Links
 */

a {
    text-decoration: none;
    color: $theme-color;
}

a:hover,
a:active {
    @include text-underline(0, $background-color);
    @include text-clear-descendors($background-color);
}

h1, h2, h3, h4, h5, h6 {
    a:hover,
    a:active {
        @include text-underline(-1px, $background-color);
    }
}

.wf-active {
    a:hover,
    a:active {
        @include text-underline(-3px, $background-color);
    }

    h1, h2, h3, h4, h5, h6 {
        a:hover,
        a:active {
            @include text-underline(-6px, $background-color);

            @include media-query($on-mobile) {
                @include text-underline(-5px, $background-color);
            }
        }
    }
}

/**
 * Blockquotes
 */

blockquote {
    color: $text-color-secondary;
    font-style: italic;
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;

    cite {
        color: $text-color;
        display: block;
        margin-top: $spacing-unit;
        text-align: right;

        &:before {
            content: '– ';
        }
    }
}

/**
 * Code
 */

pre,
code {
    font-family: $font-family-code;
    font-size: $font-size-code;
    vertical-align: middle;
}

p code {
    background-color: $background-color-dark;
    border-radius: 3px;
    padding: 3px 5px;
}

pre {
    background-color: $background-color-code;
    color: #fff;
    margin-left: $spacing-unit * -2;
    margin-right: $spacing-unit * -2;
    overflow-x: auto;
    padding: $spacing-unit ($spacing-unit * 2);


    > code {
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Text selection highlight
 */

/* WebKit/Blink Browsers */

::selection {
  background: $theme-color;
  color: $background-color;
}

a::selection {
    color: $background-color;
    text-shadow: none !important;
}

/* Gecko Browsers */

::-moz-selection {
  background: $theme-color;
  color: $background-color;
}

a::-moz-selection {
    color: $background-color;
    text-shadow: none !important;
}
