/**
 * Wrapper
 */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding: 0 ($spacing-unit / 2);

    &--separator:before {
        border-top: 2px solid $background-color-dark;
        content: '';
        display: block;
        margin: ($spacing-unit * 2) auto;
        width: 50%;
    }
}

/**
 * Profile photos
 */

.profile-photo {
    border-radius: 100%;
    display: block;
    height: $gravatar-size;
    padding: 2px;
    width: $gravatar-size;

    &__img {
        border-radius: 100%;
        height: 100%;
        width: 100%;
    }

    &--small {
        width: $gravatar-size-small;
        height: $gravatar-size-small;
    }

    &--link {
        border: 2px solid transparent;

        &:hover,
        &:active {
            box-shadow: none;
            border-color: $theme-color;
        }
    }
}

/**
 * Site header
 */

.site-header {
    margin-top: $spacing-unit * 1.5;
    text-align: center;

    .profile-photo {
        display: inline-block;
    }

    &--left {
        text-align: left;
    }
}

/**
 * Site footer
 */

.site-footer {
    font-size: $font-size-small;
    margin-top: 0;
    overflow: hidden; /* Clearfix floated content */
    padding-bottom: $spacing-unit * 2;
}

.bio {
    float: left;
    max-width: 50%;

    @include media-query($on-mobile) {
        float: none;
        max-width: none;
    }
}

.contact-links {
    float: right;
    list-style: none;
    margin: 0;
    max-width: 50%;
    text-transform: lowercase;

    @include media-query($on-mobile) {
        float: none;
        margin-top: $spacing-unit;
        max-width: none;
    }
}

/**
 * Page content
 */

.page-content {
    margin-top: $spacing-unit * 1.5;
    padding: 0;
}

/**
 * Posts
 */

.post {
    @include prefix(border-radius, 3px);
    @include prefix(box-shadow, 0 0 12px rgba(0, 0, 0, 0.1));

    background-color: $background-color-card;
    padding: $spacing-unit * 2;

    &--stacked {
        padding-bottom: $spacing-unit;
        padding-top: $spacing-unit;
    }

    &--stacked + &--stacked {
        margin-top: $spacing-unit;
    }

    @include media-query($on-mobile) {
        @include prefix(border-radius, 0);

        margin-left: $spacing-unit / -2;
        margin-right: $spacing-unit / -2;
        padding: $spacing-unit ($spacing-unit / 2);
    }

    a:hover,
    a:active {
        @include text-underline(0, $background-color-card);
        @include text-clear-descendors($background-color-card);
    }

    h1, h2, h3, h4, h5, h6 {
        a:hover,
        a:active {
            @include text-underline(-1px, $background-color-card);
        }
    }

    .wf-active & {
        a:hover,
        a:active {
            @include text-underline(-3px, $background-color-card);
        }

        h1, h2, h3, h4, h5, h6 {
            a:hover,
            a:active {
                @include text-underline(-6px, $background-color-card);

                @include media-query($on-mobile) {
                    @include text-underline(-5px, $background-color-card);
                }
            }
        }
    }
}

.post-list {
    list-style: none;
    margin-left: 0;

    .post-meta {
        float: right;
        margin-left: $spacing-unit;

        @include media-query($on-mobile) {
            display: block;
            float: none;
            margin-left: 0;
        }
    }
}

.post-meta {
    color: $text-color-secondary;
    font-family: $font-family;
    font-size: $font-size-small;
    font-weight: 300;
}

.post-author {
    display: none;
}

.post-link {
    color: inherit;
}

.post-link-external-label {
    color: $text-color-secondary;
    font-size: $font-size-small;
    font-weight: $font-weight;
}

.post-header {
    text-align: center;
}

.post-title {
    line-height: 1.4em;
}

.post-summary {
    font-size: $font-size-small;
    font-style: italic;
    margin-top: 0;
}

.post-footnote {
    color: $text-color-secondary;
    display: block;
    font-size: $font-size-small;
    margin-top: $spacing-unit / 2;
}

/**
 * Post mentions
 */

.post-mentions {
    margin-top: 0;
}

.post-mentions ul {
    font-size: $font-size-small;
    list-style: none;
    margin: 0;

    &:before {
        border-top: 2px solid $background-color-dark;
        content: '';
        display: block;
        margin: ($spacing-unit * 2) auto;
        width: 50%;
    }

    * {
        margin-top: 0;
    }

    li + li {
        margin-top: $spacing-unit * 2;
    }
}

.post-mention-date {
    color: $text-color-secondary;
}

.post-mention-author-photo {
    float: left;
}

.post-mention-text {
    margin-left: $gravatar-size-small;
    padding-left: $spacing-unit / 2;
}

/**
 * Embedded video
 */

.embedded-video-container {
    background: #000;
    height: 0;
    margin-left: $spacing-unit * -2;
    margin-right: $spacing-unit * -2;
    padding-bottom: calc(56.25% + #{$spacing-unit * 4 * 0.5625}); /* 16:9 */
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
