/**
 * Wrapper
 */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    overflow: hidden;
    padding: 0 ($spacing-unit / 2);

    &--separator:before {
        border-top: 2px solid $background-color-dark;
        content: '';
        display: block;
        margin: ($spacing-unit * 2) auto;
        width: 50%;
    }
}

/**
 * Profile photos
 */

.profile-photo {
    border-radius: 100%;
    display: block;
    height: $gravatar-size;
    padding: 2px;
    width: $gravatar-size;

    img {
        height: 100%;
        width: 100%;
    }
}

.profile-photo-small {
    width: $gravatar-size-small;
    height: $gravatar-size-small;
}

.profile-photo .profile-photo-img {
    border-radius: 100%;
}

a.profile-photo {
    border: 2px solid transparent;
}

a.profile-photo:hover,
a.profile-photo:active {
    box-shadow: none;
    border-color: $theme-color;
}

/**
 * Site header
 */

.site-header {
    margin-top: $spacing-unit * 1.5;
    text-align: center;

    .profile-photo {
        display: inline-block;
    }

    &--left {
        text-align: left;
    }
}

/**
 * Site footer
 */

.site-footer {
    font-size: $font-size-small;
    padding-bottom: $spacing-unit * 2;
}

.bio {
    float: left;
    max-width: 50%;

    @include media-query($on-mobile) {
        float: none;
        max-width: none;
    }
}

.contact-links {
    float: right;
    list-style: none;
    margin: 0;
    max-width: 50%;
    text-transform: lowercase;

    @include media-query($on-mobile) {
        float: none;
        margin-top: $spacing-unit;
        max-width: none;
    }
}

/**
 * Page content
 */

.page-content {
    margin-top: $spacing-unit * 1.5;
    padding: 0;
}

/**
 * Posts
 */

.post-list {
    list-style: none;
    margin-left: 0;

    .post-meta {
        float: right;
        margin-left: $spacing-unit;

        @include media-query($on-mobile) {
            display: block;
            float: none;
            margin-left: 0;
        }
    }
}

.post-list-item + .post-list-item {
    margin-top: $spacing-unit * 1.5;
}

.post-meta {
    color: $text-color-secondary;
    font-family: $font-family;
    font-size: $font-size-small;
    font-weight: 300;
}

.post-author {
    display: none;
}

.post-link {
    color: inherit;
}

.post-link-external-label {
    color: $text-color-secondary;
    font-size: $font-size-small;
    font-weight: $font-weight;
}

.post-header {
    text-align: center;
}

.post-title {
    line-height: 1.4em;
}

.post-summary {
    font-size: $font-size-small;
    font-style: italic;
    margin-top: 0;
}

.post-footnote {
    color: $text-color-secondary;
    display: block;
    font-size: $font-size-small;
    margin-top: $spacing-unit / 2;
}

/**
 * Post mentions
 */

.post-mentions {
    margin-top: 0;
}

.post-mentions ul {
    font-size: $font-size-small;
    list-style: none;
    margin: 0;

    &:before {
        border-top: 2px solid $background-color-dark;
        content: '';
        display: block;
        margin: ($spacing-unit * 2) auto;
        width: 50%;
    }

    * {
        margin-top: 0;
    }

    li + li {
        margin-top: $spacing-unit * 2;
    }
}

.post-mention-date {
    color: $text-color-secondary;
}

.post-mention-author-photo {
    float: left;
}

.post-mention-text {
    margin-left: $gravatar-size-small;
    padding-left: $spacing-unit / 2;
}

/**
 * Embedded video
 */

.embedded-video-container {
    background: #000;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.embedded-video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
