@charset "utf-8";

/* fonts */
$font-family-code: "Anonymous Pro", "Courier", monospace;
$font-family: "skolar", "Georgia", serif;
$font-size-code: 0.75rem;
$font-size-extra-small: 16px;
$font-size-small: 19px;
$font-size: 22px;
$font-weight: 400;
$line-height: 1.6;

/* colors */
$background-color-alternate: #dfdfda;
$background-color-code: #49483e;
$background-color: #fcfcfe;
$theme-color: #da5b54;
$text-color-secondary: #7f7e77;
$text-color: #33322b;

/* dimensions */
$content-width: 700px;
$gravatar-size: 78px;
$gravatar-size-small: 60px;
$spacing-unit: 1.3rem;
$spacing-unit-large: $spacing-unit * 2;
$spacing-unit-small: $spacing-unit / 2;

/* media query helper */
$on-mobile:	500px;
@mixin media-query ($on-device-type) {
  @media screen and (max-width: $on-device-type) {
    @content;
  }
}

/* prefixer */
$prefixes: webkit moz ms o;
@mixin prefix ($property, $value) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}

/* underline text with an inset box shadow so that the line can be placed
relative to the em box */
@mixin text-underline ($height, $em-box-offset) {
  box-shadow: inset 0 $em-box-offset 0 0 $background-color, inset 0 ($em-box-offset - $height) 0 0 $theme-color;
}

/* clear descenders by adding a text-shadow that's the same color as the
background... this is kind of a mess, but the end result looks very nice */
@mixin text-clear-descendors ($amount) {
  text-shadow:
  $background-color -3px -#{$amount},
  $background-color -3px -#{$amount / 2},
  $background-color -3px 0,
  $background-color -3px #{$amount / 2},
  $background-color -3px #{$amount},
  $background-color -1.5px -#{$amount},
  $background-color -1.5px -#{$amount / 2},
  $background-color -1.5px 0,
  $background-color -1.5px #{$amount / 2},
  $background-color -1.5px #{$amount},
  $background-color 0 -#{$amount},
  $background-color 0 -#{$amount / 2},
  $background-color 0 #{$amount / 2},
  $background-color 0 #{$amount},
  $background-color 1.5px -#{$amount},
  $background-color 1.5px -#{$amount / 2},
  $background-color 1.5px 0,
  $background-color 1.5px #{$amount / 2},
  $background-color 1.5px #{$amount},
  $background-color 3px -#{$amount},
  $background-color 3px -#{$amount / 2},
  $background-color 3px 0,
  $background-color 3px #{$amount / 2},
  $background-color 3px #{$amount},
}

%reset-link {
  color: inherit;

  &:hover,
  &:active {
    box-shadow: none;
    text-shadow: none;
  }
}
