---
layout: default
---
{% if site.estimate_read_time %}
    {% assign estimated_read_time = content | strip_html | number_of_words | append: '.0' | divided_by: site.words_per_minute %}
    {% assign estimated_read_time_fraction = estimated_read_time | append: '' | split: '.' | last | prepend: '0.' | times: 1.0 %}
    {% if estimated_read_time_fraction >= 0.5 || estimated_read_time < 0.5 %}
        {% assign estimated_read_time = estimated_read_time | plus: 1 %}
    {% endif %}
    {% assign estimated_read_time = estimated_read_time | append: '' | split: '.' | first %}
{% endif %}
<div class="post h-entry">
    <header class="post-header">
        <h1 class="post-title p-name">{{ page.title }}</h1>
        <p class="post-meta"><span class="dt-published" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</span>{% if estimated_read_time %} • {{ estimated_read_time }} min read{% endif %}<span class="post-author p-author h-card">{% if page.author %} • {{ page.author }}{% endif %}</span>{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <article class="post-content e-content">
        {{ content }}
    </article>
</div>